@import url("https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Old+Mincho:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Zen Antique Soft", serif;
  background-color: #EADEB8;
  overflow-x: hidden;
}

.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 70px;
  background-color: #CFB784;
}
.header__nav h4 {
  margin-left: 5%;
}

.main__section {
  background-image: url("https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cmVzdGF1cmFudHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80");
  background-size: cover;
  background-position: center;
  height: 850px;
  position: relative;
  box-shadow: 0px 10px 10px #CFB784;
}
.main__section .main__section--headline {
  font-size: 1.4rem;
  width: 20%;
  position: absolute;
  left: 300px;
  top: 20px;
  background: rgba(207, 183, 132, 0.9);
  border-radius: 25px;
  padding: 3%;
}

.main__section--about {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 70px;
  background: rgba(207, 183, 132, 0.9);
  padding: 100px;
  box-shadow: 0px 0px 10px #CFB784;
}
.main__section--about img {
  height: 400px;
  border-radius: 25px;
}
.main__section--about .main__section--about_info {
  width: 50%;
}

.main__section--about_cont {
  background-image: url("https://images.dailyhive.com/20200127165207/shutterstock_761494024.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 700px;
  box-shadow: 0px 10px 20px #CFB784;
}
.main__section--about_cont > h2 {
  width: 30%;
  padding: 30px;
  background: rgba(207, 183, 132, 0.8);
}

.main__section--menu {
  background-image: url("https://cdnimg.webstaurantstore.com/uploads/buying_guide/2019/9/1456431.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0px;
  box-shadow: 0px 0px 10px black;
  position: relative;
  padding: 100px;
  font-family: "Zen Old Mincho", serif;
  font-size: 0.8rem;
}
.main__section--menu h2 {
  background-color: rgba(255, 255, 255, 0.6);
}
.main__section--menu p {
  font-size: 1.2rem;
  color: white;
}
.main__section--menu .main__section--menu_food {
  height: 400px;
}
.main__section--menu #main__section--menu_food {
  display: none;
  position: relative;
}
.main__section--menu #main__section--menu_food .main__section--menu_food_front {
  background-image: url("https://image.freepik.com/free-vector/elegant-menu-cover-design_1048-9224.jpg");
  background-size: cover;
  background-position: center;
}
.main__section--menu #main__section--menu_food .main__section--menu_food_front h2 {
  position: absolute;
  right: 0;
  top: 0;
}
.main__section--menu #main__section--menu_food .main__section--menu_food_intro {
  background-image: url("https://cdn.imenupro.com/img/menus96/respira-steakhouse-menu.png");
  background-size: contain;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.main__section--menu #main__section--menu_food .main__section--menu_food_intro h2 {
  position: absolute;
  left: 0;
  top: 0;
}
.main__section--menu #main__section--menu_food .main__section--menu_food_1 {
  background-image: url("https://cdn.imenupro.com/img/menus96/respira-steakhouse-menu.png");
  background-size: contain;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.main__section--menu #main__section--menu_food .main__section--menu_food_1 h2 {
  position: absolute;
  right: 0;
  top: 0;
}
.main__section--menu #main__section--menu_food .main__section--menu_food_2 {
  background-image: url("https://cdn.imenupro.com/img/menus96/respira-steakhouse-menu.png");
  background-size: contain;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.main__section--menu #main__section--menu_food .main__section--menu_food_2 h2 {
  position: absolute;
  left: 0;
  top: 0;
}
.main__section--menu #main__section--menu_food .main__section--menu_food_3 {
  background-image: url("https://cdn.imenupro.com/img/menus96/respira-steakhouse-menu.png");
  background-size: contain;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.main__section--menu #main__section--menu_food .main__section--menu_food_3 h2 {
  position: absolute;
  right: 0;
  top: 0;
}
.main__section--menu #main__section--menu_food .main__section--menu_food_4 {
  background-image: url("https://cdn.imenupro.com/img/menus96/respira-steakhouse-menu.png");
  background-size: contain;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.main__section--menu #main__section--menu_food .main__section--menu_food_4 h2 {
  position: absolute;
  left: 0;
  top: 0;
}

.footer {
  background-color: #CFB784;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1468px) {
  .main__section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    height: 400px;
  }
  .main__section .main__section--headline {
    position: static;
    font-size: 0.9rem;
    width: 100%;
    border-radius: 0px;
    height: 35%;
  }

  .main__section--about {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .main__section--about img {
    height: 250px;
    min-width: 30vw;
    margin-bottom: 50px;
  }
  .main__section--about .main__section--about_info {
    min-width: 400px;
  }

  .main__section--about_cont {
    height: 250px;
  }
  .main__section--about_cont > h2 {
    font-size: 1rem;
    width: 500px;
    max-width: 60%;
  }
}
@media screen and (max-width: 960px) {
  .main .main__section--headline {
    width: 100vw;
  }
  .main .main__section--about {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .main .main__section--about img {
    height: 200px;
  }
  .main .main__section--about .main__section--about_info {
    min-width: 300px;
  }
  .main .main__section--menu {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 0.9rem;
  }
  .main .main__section--menu img {
    display: none;
  }
  .main .main__section--menu #main__section--menu_food {
    display: block;
  }
}
@media screen and (max-width: 300px) {
  .main .main__section--headline {
    font-size: 0.8rem;
    width: 100vw;
  }
  .main .main__section--about {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .main .main__section--about img {
    height: 150px;
  }
  .main .main__section--about .main__section--about_info {
    min-width: 200px;
  }
  .main .main__section--menu {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 0.9rem;
  }
  .main .main__section--menu img {
    display: none;
  }
  .main .main__section--menu #main__section--menu_food {
    display: block;
  }
}
@keyframes inView {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .scroll {
    animation: inView 1s;
  }
}

/*# sourceMappingURL=style.css.map */
